body{
    background-color: white;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    
}

.pokemon-img{
    box-shadow: inset 0 0 50px skyblue;
    width: 100%;
    border: 3px solid skyblue;
}

.pokemon-data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: black;
}