body{
    padding-top: 60px;
}

.capture-background{
  background-image: url(/capture-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -100;
}

.search-header{
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 50px;
}

.pokemon-search{
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    width: 60%;
    border-radius: 50px;
    font-size: 20px;
    border: 2px solid black;
}

.pokemons-container{
    width: 400px;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    box-shadow: 0 -30px 20px -2px green inset;
    padding: 10px;
}

.pokemon-search-item{
    width: 300px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}