#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background{
  background-image: url(/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -100;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.login-redirect-btn {
    padding: 12px;
    background: linear-gradient(45deg, #ff0000, #cc0000);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.2s;
    text-transform: uppercase;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 120px;
    cursor: pointer;
    z-index: 2;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
