.navbar{
    display: flex;
    align-items: start;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 10px;
}

.gradient-text{
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

.home-shadow{
    width: 150px;
    height: 64px;
    margin-right: -30px;
    padding-bottom: 5px;
    border-bottom: 5px solid;
    display: flex;
    justify-content: end;
}

.home-button{
    background-color: blue;
    width: 190px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
    cursor: pointer;
    position: absolute;
}

.logo-container-border{
    height: 80px;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
}

.logo-container{
    min-width: 300px;
    height: 100%;
    clip-path: polygon(2% 3%, 98% 3%, 84% 97%, 16% 97%);
    position: relative;
    background-color: white;
}

.logo{
    position: absolute;
    height: 50%;
    top: -5%;
    left: 20%;
}

.capture-shadow{
    width: 150px;
    height: 64px;
    margin-left: -30px;
    border-bottom: 5px solid purple;
    position: relative;
    padding-bottom: 5px;
}
.capture-button{
    background-color: green;
    width: 190px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    margin-top: -15px;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    cursor: pointer;
    position: absolute;
    left: 20%;
    top: 23%;
}