

.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    height: 400px;
    border: 3px solid white;
    
}

.pokemon-img{
    box-shadow: inset 0 0 50px skyblue;
    width: 100%;
    border: 3px solid skyblue;
}

.pokemon-data{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}