

.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border: 3px solid skyblue;
    margin: 10px;
    max-width: 400px;
    border-radius: 50px;
}

.pokemon-img-holder{
    max-height: 400px;
}


.pokemon-img{
    box-shadow: inset 0 0 50px skyblue;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px 50px 0px 0px;
}

.pokemon-data{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
}