.container-body{
    margin-top: 70px;
}

.poke-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1300px) {
    .poke-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .poke-container{
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}

@media (max-width: 650px) {
    .poke-container{
        grid-template-columns: 1fr;
        column-gap: 0px;
    }
}