

.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border: 3px solid skyblue;
    margin: 10px;
}

.pokemon-img{
    box-shadow: inset 0 0 50px skyblue;
    width: 100%;
}

.pokemon-data{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}